{% extends "base.html" %}

{% block content %}
<div class = 'header'>
    <div>
        <h3>Hey! {{request.user | title}}</h3>
        <h3>You have<i> {{count}} </i>incomplete task{{count|pluralize}}!</h3>
    </div>
    {% if request.user.is_authenticated %}
    <!-- <p>{{request.user}}</p> -->
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a> 
    {% endif %} 
</div>    



<hr>
<div class="heading-top" style="margin-left: auto; padding:auto">
    <h3>Your Task List</h3>
</div>

<div id = "search-add-wrapper">
    <form method = 'GET'  style="margin-top:15px; display:flex;">
        <input type = 'text' name = 'search' value = {{search_input}}>
        <input class="button" type = 'Submit' value = 'search'> 
    </form>
    <a id="add-link" href = "{% url 'create' %}">&#43;</a>
</div>



<div class="task-item-wrapper">
    {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.status  %}
            <div class="task-title">
                <div class="task-complete-icon"></div>
                <i><s><a href="{% url 'update' task.id %}">{{task}}</a></s></i>
            </div>
            <a class="delete-link" href = "{% url 'delete' task.id %}">&#215;</a>
            {% else %}
            <div class="task-title">
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'update' task.id %}">{{task}}</a>
            </div>
            <a class="delete-link" href = "{% url 'delete' task.id %}">&#215;</a> 
            {% endif %}
        </div>
    
    {% empty %}
    <p>List Empty</p>
    {% endfor %}
    
</div>

{% endblock content %}